<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Files</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="p-3 mb-2 bg-primary text-white">
<h1>Welcome to Medical Inventory Website</h1>
<br>
<br>
<br>
    <h1> Select product and date to project the required Quanitity</h1>

    <br>
<br>
<br>
<form name="med1", method="POST">
<label for="medicine">Choose a Medicine:</label>

<select name="Medicine" id="Medicine">
  <option value="M01AB" name="M01AB">M01AB</option>
  <option value="M01AE",name="M01AE">M01AE</option>
  <option value="N02BA",name="N02BA">N02BA</option>
  <option value="N02BE",name="N02BE">N02BE</option>
   <option value="N05B",name="N05B">N05B</option>
   <option value="N05C",name="N05C">N05C</option>
   <option value="R03", name="R03">R03</option>
   <option value="R06", name="R06">R06</option>
</select>
    <br>
    <br>
Choose Date :<input type="date" , value="date" , name="d1"><br>
<input type="submit">
</form>
</div>


</body>
</html>